<ion-content class="initial-page">
  <div class="welcome-header">
    <h2>Hi, Tobi</h2>
    <p>Explore the world</p>

    <div class="user-profile">
      <img src="../assets/imagem/Tobipfp.png" href="#" alt="Profile" />
    </div>
  </div>

  <ion-searchbar animated="true" placeholder="Search places"></ion-searchbar>

  <div class="popular-header">
    <h1>Popular</h1>
    <button class="view-all" href="#">View All</button>
  </div>

  <div class="button-group">
    <button
      (click)="selectButton('mostViews')"
      [ngClass]="{'active': selectedButton === 'mostViews'}">
      Most Views
    </button>
    <button
      (click)="selectButton('nearby')"
      [ngClass]="{'active': selectedButton === 'nearby'}">
      Nearby
    </button>
    <button
      (click)="selectButton('latest')"
      [ngClass]="{'active': selectedButton === 'latest'}">
      Latest
    </button>
  </div>

  <div class="places-list">
    <ion-card class="place-card">
      <ion-img src="assets/images/mount-fuji.jpg"></ion-img>
      <div class="place-info">
        <h2>Mount Fuji, Tokyo</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>Japan</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.8</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <ion-card class="place-card">
      <ion-img src="assets/images/andes.jpg"></ion-img>
      <div class="place-info">
        <h2>Andes, South America</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>America</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.7</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <ion-card class="place-card">
      <ion-img src="assets/imagens/ptl.jpg"></ion-img>
      <div class="place-info">
        <h2>Ponte de Lima, Viana do Castelo</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>Portugal</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.7</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>
  </div>
  
<footer>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button
        (click)="selectTab('Home')"
        [ngClass]="{'tab-selected': selectedTab === 'Home'}">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button
        (click)="selectTab('Recents')"
        [ngClass]="{'tab-selected': selectedTab === 'Recents'}">
        <ion-icon name="time-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button
        (click)="selectTab('Favorites')"
        [ngClass]="{'tab-selected': selectedTab === 'Favorites'}">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button
        (click)="selectTab('Profile')"
        [ngClass]="{'tab-selected': selectedTab === 'Profile'}">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div *ngIf="selectedTab === 'Home'">

  </div>
  <div *ngIf="selectedTab === 'Recents'">

  </div>
  <div *ngIf="selectedTab === 'Favorites'">

  </div>
  <div *ngIf="selectedTab === 'Profile'">

  </div>
</footer>
</ion-content>

