<ion-content class="initial-page">
  <div class="welcome-header">
    <h2>Hi, Tobi</h2>
    <p>Explore the world</p>

    <div class="user-profile">
      <img src="../assets/imagem/Tobipfp.png" alt="Profile" click="goToProfile()"/>
    </div>
  </div>

  <ion-searchbar animated="true" placeholder="Search places"></ion-searchbar>

  <div class="popular-header">
    <h1>Popular</h1>
    
    <button class="view-all">View All</button>
  </div>

  <div class="button-group">
    <button
      (click)="selectButton('mostViews')"
      [ngClass]="{'active': selectedButton === 'mostViews'}">
      Most Views
    </button>
    <button
      (click)="selectButton('recent')"
      [ngClass]="{'active': selectedButton === 'recent'}">
      Recent
    </button>
    <button
      (click)="selectButton('latest')"
      [ngClass]="{'active': selectedButton === 'latest'}">
      Latest
    </button>
  </div>

  <div class="places-list">
    <ion-card class="place-card">
      <ion-img src="assets/imagem/mount-fuji.jpg"></ion-img>
      <div class="place-info">
        <h2>Mount Fuji, Tokyo</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>Japan</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.8</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <ion-card class="place-card">
      <ion-img src="assets/imagem/paris.jpg"></ion-img>
      <div class="place-info">
        <h2>Tower Eifell, Paris</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>France</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.7</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <ion-card class="place-card">
      <ion-img src="assets/imagem/casa-de-la-moneda.jpg"></ion-img>
      <div class="place-info">
        <h2>Casa de la Moneda, Madrid</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>Spain</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.7</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <ion-card class="place-card">
      <ion-img src="assets/imagem/ptl.jpg"></ion-img>
      <div class="place-info">
        <h2>Ponte de Lima, Viana do Castelo</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>Portugal</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.7</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <ion-card class="place-card">
      <ion-img src="assets/imagem/big-ben.jpg"></ion-img>
      <div class="place-info">
        <h2>Big Ben, London</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>England</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.7</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>

    <ion-card class="place-card">
      <ion-img src="assets/imagem/coliseu-roma.jpg"></ion-img>
      <div class="place-info">
        <h2>The Coliseum, Roma</h2>
        <div class="location">
          <ion-icon name="location-outline"></ion-icon>
          <p>Italy</p>
        </div>
        <div class="rating">
          <ion-icon name="star-outline"></ion-icon>
          <span>4.7</span>
        </div>
      </div>

      <div class="favorite-btn">
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </ion-card>
  </div>

  <app-footer></app-footer>
</ion-content>
